extends ../includes/header
block main
    .box
        .layout1
            span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum ab numquam ut accusantium, cum soluta libero nobis? Officiis quos ad assumenda expedita? Eos atque obcaecati ipsa odit nihil dignissimos quod.
        .layout2
        .layout3

